.startButton 
    color: #fff
    text-decoration: none;
    font-size: 18px
    background: #0288D1;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%
    transition: all 0.4s ease 0s;

.startButton:hover
    background: #7C4DFF;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;

