.queen
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 20px
    margin 10px

    &-header
        align-items: center
        justify-content: center
        margin: 35px 0 35px 0;
    
    &-body
        width: 30%
        margin: 35px 0 35px 0;
    
    &-footer 
        padding: 30px
        width: 25%