@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Signika&display=swap');
@import '../../views/QueenView/*'
@import '../../components/**/*'
@import './pallete'

body
    background $silver-gray
    font-family: 'Signika', sans-serif;
    h1
     color: $abbey-gray
     font-size: 62px
     font-weight: 800
     font-family: 'Playfair Display', serif
     line-height: 72px
     margin: 0 0 24px
     text-align: center
     text-transform: uppercase

    h2 
        font-size: 48px
        color: $mercury-gray


